root = true 

[*]
end_of_line = lf
insert_final_newline = true
indent_style = tab  
indent_size = 4

# Archivo creado para solucionar el espaciado excesivo en github.
# Esto causaba que el código quedara poco legible.
# (anteriormente eran 8 espacios por tab)