<%- include("components/head") %>
<%- include("components/navbar") %>

<body>
  <div class="container">
    <h1>No se encuentra el recurso solicitado</h1>
  </div>
</body>

<%- include("components/foot") %>
  
