<nav class="navbar bg-body-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../imgs/rocket.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Marketeandola
    </a>
  </div>
</nav>